!!!
%html
  %head
    %title Eric's Place
  %body
    #wrapper
      #header
        %h1 Eric Talle
        %h2 A place where I can relax and just geek.
 
      #content
        %h1 The Home Page
        %p
          Blah Blah Blah
        %p
          More Blah...
 
      #side_bar
        %h1 Menu
        %p
          About
 
      #footer
        %p
          This is the footer.