!!!
%html
  %head
    %title Eric's Place2
    %link(rel="stylesheet" href="css/styles.css")
  %body
    #wrapper
      #header
        %h1 Eric Talle
 
      #content
        %h1 The Home Page
        %p
          Blah Blah Blah Body
        %p
          More Blah... second paragraph
 
      #side_bar
        %h1 Menu
        %p
          About
        %p
          Blog
        %p
          Work
 
      #footer
        %p
          Home.