!!!
%html
  %head
    %title Talle Inc.
    %link(rel="stylesheet" href="css/talle_style.css")
  %body
    #wrapper
      #header
        %h1 Talle Inc.
        %h2 Web Solutions
      
      #content
        =yield

      #footer
        %p
          TBD...
