!!!
%html
  %head
    %title Talle App
    %link(rel="stylesheet" href="css/talle_style.css")
  %body
    #wrapper
      #header
        %h1 What up?
        %h2 This is the main site page with cool links about Me!
      
      #content
        =yield

      #footer
        %p
          This is the footer.
