body{
    background-color:#ff6600;
    font-family:courier;
}

#wrapper{
    width:100%;
    margin:auto;
}
 
#header{
    
}
 
#header>h1{
    width:90%;
    font-size:200%;
}
 
h2{
    font-size:130%;
    font-family:sans-serif;
}
 
#content{
    margin:5px;
    width:75%;
    float:right;
}
 
#side_bar{
    margin:12px 0;
    width :20%;
    float:left;
    clear:none;
    background-color:#ff7700;
}
 
h1{
    font-size:150%;
}
 
#footer{
    clear:both;
    background-color:#ff6600;
    font-size:75%;
    font-family:sans-serif;
    color:#333;
    border-top:solid 1px #69a;
}
 
ol{
    padding-top:20px;
    background-color:#ff6600;
    display:block;
}
 
li{
    color:white;
    text-align:center;
    display:inline;
    padding:5px 10px 0 10px;
    margin-right:2px;
    background-color: #ff6600;
}
 
a{
    text-decoration:none;
}